.

pytest>=3.0.2
pytest-mock>=1.2
pytest-cov>=2.3.1
pytest-xdist>=1.15.0
mock>=1.0.1
freezegun>=0.3.5
requests-mock>=0.7.0
jsonschema>=2.5.1

black==22.8.0  # Also update `.pre-commit-config.yaml` if this changes
ruff==0.0.261  # Also update `.pre-commit-config.yaml` if this changes
